services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file: ".env"
    environment:
      POSTGRES_USER: ${LOGIN_DB}
      POSTGRES_PASSWORD: ${PASSWORD_DB}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app_net
    command:
      [ "postgres",
        "-c", "log_destination=stderr"
      ]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${LOGIN_DB} -d ${DB_NAME:-app} -h 127.0.0.1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 20s
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 512M
        reservations:
          cpus: '0.5'
          memory: 256M

  backend:
    build:
      context: .
    restart: unless-stopped
    env_file:
      - ".env"
    environment:
      - PYTHONPATH=/app
    ports:
      - "80:8000"
    networks:
      - app_net
    depends_on:
      db:
        condition: service_healthy

networks:
  app_net:

volumes:
  postgres_data:
