python-dotenv~=1.1.0
SQLAlchemy~=2.0.41
fastapi~=0.115.12
asyncpg
uvicorn~=0.34.3
pydantic~=2.11.5
python-jose
nh3
jinja2
asyncpg
greenlet
aiobotocore~=2.22.0
fastapi_users
fastapi_users_db_sqlalchemy
bs4
psycopg2-binary
passlib~=1.7.4
pillow
qrcode~=8.2
starlette-admin
starlette~=0.46.2
itsdangerous